.table-container {
    
    align-items: center;
    justify-content: center;
   
    
}
.table-box {
justify-content: center;
align-items: center;
}

.color1{
  background-color: #4e4e5046;
  color: rgba(255, 255, 255, 0.459);

}
.color2{
  background-color: #4e4e5046;
  color: rgba(255, 255, 255, 0.459);

}
table {
    border: 1px solid #1A1A1D;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 1vh;
    padding: 4px;
    width: 50%;
    
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {

    border: 1px solid #1A1A1D;
   
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    
    
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    
    text-transform: uppercase;
  }
  .kvadrat{
    background-color:  #00000043 ;
    width: 100%;
    padding-bottom: 7px;
  }
  @media screen and (max-width: 900px) {
    table {
      border: 0;
      width: 90%;
  
    }
  
    table caption {
      font-size: 1.3em;
      
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 0;
      display: block;
      
      padding: 10px;
      
    }
    
    table td {
      border-bottom: 1px solid #1A1A1D;
      display: block;
      font-size: .8em;
      text-align: left;
      
      margin: 10px;
      
    }
  
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  
  
